/* Layout */
html, body {width: 100%; height: 100%; margin: 0; padding: 0;}

/* Typography */
body {background-color: white; font-family: 'Raleway', Arial, Helvetica, sans-serif;} /* https://www.google.com/fonts */

/* Global navigation */
#globalsites {background-color: gray; height: 30px; border-top: 2px solid #ddd;}
#globalsites p, #globalsites ul {margin: 0; padding: 0; position: relative; top: -2px; font-size: 0.93em;}
#globalsites p, #globalsites ul li a {color: white; text-decoration: none;}
#globalsites p {float: left; color: white;}
#globalsites ul {height: 100%; margin-left: 200px;}
#globalsites ul li {height: 100%; float: left; margin: 0; padding: 0; list-style: none;}
#globalsites ul li a {display: block; height: 28px; padding: 2px 20px; margin: 0; border-top: 2px solid white;}
#globalsites ul li.cyclestreets a {border-color: yellow;}
#globalsites ul li.cyclestreets a:hover {background-color: yellow;}
#globalsites ul li.cyclescape a {border-color: green;}
#globalsites ul li.cyclescape a:hover {background-color: green;}
#globalsites ul li.data a {border-color: purple;}
#globalsites ul li.data a:hover {background-color: purple;}
#globalsites ul li.data.selected a {background: rgba(128,0,128,0.4);}
#globalsites ul li.urbancycleparking a {border-color: red;}
#globalsites ul li.urbancycleparking a:hover {background-color: red;}
#globalsites ul li.blog a {border-color: #999;}
#globalsites ul li.blog a:hover {background-color: #999;}

main {width: 100%; height: calc(100% - 20px); position: relative;}
main form {width: 100%; height: 100%;}

nav {position: absolute; top: 0; right: 0; width: 330px; height: 100%; z-index: 500;}
nav {color: white;}
nav a {color: white; text-decoration: none;}


#map {width: 100%; height: 100%; position: relative;}
#map .leaflet-tile-container {opacity: 0.7;}
#map .leaflet-control-attribution {margin-right: 330px;}
#map .leaflet-control-layers {right: 330px;}

/* Geocoder */
#geocoder {position: absolute; top: 10px; left: 55px; z-index: 500;}
#geocoder input {padding: 5px; font-size: 1em; color: #603; width: 250px;}
#geocoder input.ui-autocomplete-loading {background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;}
#geocoder input, .ui-autocomplete {border: 1px solid #eee; box-shadow: 5px 5px 10px 0px rgba(28,28,28,0.5);}
.ui-autocomplete {background-color: white; z-index: 1000; width: 200px; list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li {list-style: none; margin-left: 0; padding-left: 0;}
.ui-autocomplete li a {padding: 7px; display: block; color: #603;}
.ui-autocomplete li a span {color: gray; font-size: 0.81em;}
.ui-autocomplete li a.ui-state-active {cursor: pointer; background-color: #f7f7f7;}

/* Sponsor */
#sponsor {position: absolute; bottom: 10px; /* right: 345px; */ left: 20px; width: 215px; height: 36px; background-color: rgba(0, 0, 255, 0.3); padding: 7px 15px; z-index: 999; color: white; opacity: 0.9;}
#sponsor p {margin: 0; padding: 0; line-height: 36px; text-align: right;}
#sponsor img {width: 120px; height: 36px; background-color: gray; margin-left: 5px; vertical-align: bottom;}


h2 {margin-bottom: 2px; padding-bottom: 0;}



#selector {float: left; width: 90px; height: 100%; background-color: #333; opacity: 0.85;}

#selector ul {height: 100%; list-style: none; width: 100%; margin: 0; padding: 0;}
#selector ul li {margin-left: auto; margin-right: 0; border-top: 1px solid gray; border-left: 4px solid gray; position: relative;}
#selector ul li:last-child {border-bottom: 1px solid gray;}
#selector ul li.selected {background-color: black; border-left: 4px solid brown;}
#selector ul li a {font-size: 0.9em; padding: 20px 10px; display: block; text-align: center;}
#selector ul li:hover {background-color: #111;}
#selector ul li.selected:hover {background-color: black;}
#selector ul li a img {width: 40px;}

#selector input {float: left; margin-left: 8px; margin-top: 15px;}

#selector li p.total {position: absolute; right: 4px; font-size: 0.76em; color: gray;}


/* Toolbar */
#sections {width: 200px; height: calc(100% - 20px); margin-left: 90px; background-color: black; opacity: 0.85; margin-top: 0; padding: 0 20px 20px; font-size: 0.92em; overflow: scroll;}

/* Sections */
#sections #compare > div {opacity: 0.5;}
#sections #compare div.enabled {opacity: 1;}
#sections #compare div p {margin-bottom: 4px;}
#sections #compare div .controls label {width: 45px; display: inline-block;}

#sections div.concern {background: rgba(255,255,255,0.1); padding: 0; margin: 20px 0 0;}
#sections div.concern h3 {background-color: rgba(255,255,255,0.2); padding: 2px 5px; margin: 0; font-size: 1.1em;}
#sections div.concern > div {padding: 5px 5px;}

#sections h4 {font-size: 1em; font-weight: normal; padding: 0; margin: 12px 0 2px;}
#sections .controls {padding: 0; margin: 0;}

#sections div.export {height: 20px;}
#sections div.export p {line-height: 20px; opacity: 0.2; border: 1px solid gray; padding: 2px 5px; float: right; margin: 0; font-size: 0.9em;}
#sections div.export p.enabled {opacity: 1;}
#sections div.export img {vertical-align: middle;}

/* Header */
header {background: rgba(255,255,255,0.2); _background-color: gray; padding: 5px 8px 20px; margin: 0; position: relative; left: -8px;}
header h1 {padding-top: 0; font-weight: normal; margin-top: 15px; margin-bottom: 5px;}
header p {margin: 0;}


footer {height: 20px; background-color: #888;}


/* Tooltips, as per http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/ */
_.tooltip {display: inline; position: relative;}
_.tooltip:hover:after {background: #603; background: rgba(0,0,0,.8); border-radius: 5px; bottom: 26px; color: #fff; content: attr(title); left: 20%; padding: 5px 15px; position: absolute; z-index: 98; width: 220px;}
_.tooltip:hover:before {border: solid; border-color: #333 transparent; border-width: 6px 6px 0 6px; bottom: 20px; content: ""; left: 50%; position: absolute; z-index: 99;}

/* Tabs */
ul.tabs {margin-left: 0; padding-left: 0; }
ul.tabs li {display: inline; margin-right: 5px;}
ul.tabs li a {padding: 2px 10px; color: gray; border: 1px solid white; border-bottom: 0;}
ul.tabs li.ui-state-active a {background-color: #333; color: white;}



/* Overlay, used by collisions */
#drawing {position:absolute;bottom:30px;right:350px;height:120px;width:250px;background:rgba(0,0,0,0.8);z-index:95}
#drawing #drawingcontrols ul {float: left; margin:0;padding:0;list-style-type:none;overflow:hidden}
#drawing #drawingcontrols ul li {list-style-type:none;padding:0;margin:0;border:0;float:left;display:inline}
#drawing #drawingcontrols ul li a {float:left;display:block}
#drawing #drawingcontrols ul li a {display:block;color:#e6e6e6;height:80px;width:50px;cursor:pointer;font-weight:bold;font-size:10px;text-align:center;text-transform:uppercase;letter-spacing:1px}
#drawing #drawingcontrols ul li a span {width:50px;height:50px;display:block;border:1px solid #1a1a1a;background:#e6e6e6 url(../images/geometrydrawing.png) 4px -534px no-repeat;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px}
#drawing #drawingcontrols ul li a span.area {background-position:4px -534px}
#drawing #drawingcontrols ul li a span.route {background-position:4px -616px}
#drawing #drawingcontrols ul li a span.point {background-position:13px -706px}
#drawing #drawingcontrols ul li a:hover {text-decoration:none}
#drawing #drawingcontrols ul li a:hover span {background-color:#eee}
#drawing #drawingcontrols ul li a.current span {-webkit-box-shadow:inset rgba(0,0,0,0.7) 0 0 8px;-moz-box-shadow:inset rgba(0,0,0,0.7) 0 0 8px;box-shadow:inset rgba(0,0,0,0.7) 0 0 8px}
#drawing .panes {padding:10px}
#drawing .panes .pane h3 {margin: 0;}
#drawing .panes .pane h3, #drawing .panes .pane p {color:#e6e6e6}
#drawing .panes .pane p {display:block;margin-bottom:10px;font-weight:normal;font-size:13px;font-style:italic}
#drawing ul.undo-clear {float: right; margin:0;padding:0;list-style-type:none;overflow:hidden;}
#drawing ul.undo-clear li {list-style-type:none;padding:0;margin:0;border:0;float:left;display:inline}
#drawing ul.undo-clear li a {float:left;display:block}
#drawing ul.undo-clear li {float:left;margin-right:10px}
#drawing ul.undo-clear li a {display:block;width:80px;height:32px;cursor:pointer}
#drawing ul.undo-clear li a span.txt {color:#e6e6e6;float:right;margin-top:5px;font-weight:bold;font-size:10px;letter-spacing:1px;text-transform:uppercase;text-align:right}
#drawing ul.undo-clear li a span.icon-undo,#drawing ul.undo-clear li a span.icon-clear {float:left;width:30px;height:30px;display:block;border:1px solid #999;background:url(../images/geometrydrawing.png) 3px -780px no-repeat;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px}
#drawing ul.undo-clear li a span.icon-clear {background-position:4px -825px}
#drawing ul.undo-clear li a:hover {text-decoration:none}
#drawing ul.undo-clear li a:hover span.icon-undo,#drawing ul.undo-clear li a:hover span.icon-clear {border:1px solid #e6e6e6}
#drawing #drawingcontrols ul li a span.browse {background-position:4px -327px;}
#drawing {background: #000; opacity: 0.9;}
#drawing {-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8;}	/* Vendor-specific hacks */
#drawing {z-index: 95;}
#drawing #drawingcontrols ul li a {padding: 6px;}



/* Street View */
#streetview {margin-top: 20px; width: 100%; height: 150px; border: 1px solid #ccc;}
