var config = {};

// CycleStreets API base URL (not slash-terminated) and key
config.apiBaseUrl = 'https://api.cyclestreets.net';
config.apiKey = 'YOUR_API_KEY';		// Obtain at https://www.cyclestreets.net/api/apply/

// Tileserver URL
config.tileUrls = {
	'opencyclemap': [
		'https://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}@2x.png',
		{maxZoom: 21, attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors; <a href="https://www.thunderforest.com/">Thunderforest</a>'},
		'OpenCycleMap'
	],
	'mapnik': [
		'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
		{maxZoom: 19, attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'},
		'OpenStreetMap style'
	],
	'osopendata': [
		'http://os.openstreetmap.org/sv/{z}/{x}/{y}.png',
		{maxZoom: 19, attribution: 'Contains Ordnance Survey data &copy; Crown copyright and database right 2010'},
		'OS Open Data'
	],
	'bartholomew': [
		'https://{s}.tile.cyclestreets.net/bartholomew/{z}/{x}/{-y}@2x.png',
		{maxZoom: 15, attribution: '&copy; <a href="http://maps.nls.uk/copyright.html">National Library of Scotland</a>'},
		'NLS - Bartholomew Half Inch, 1897-1907'
	],
	'os6inch': [
		'https://{s}.tile.cyclestreets.net/os6inch/{z}/{x}/{-y}@2x.png',
		{maxZoom: 15, attribution: '&copy; <a href="http://maps.nls.uk/copyright.html">National Library of Scotland</a>'},
		'NLS - OS 6-inch County Series 1888-1913'
	],
	'os1to25k1stseries': [
		'https://{s}.tile.cyclestreets.net/os1to25k1stseries/{z}/{x}/{-y}@2x.png',
		{maxZoom: 16, attribution: '&copy; <a href="http://maps.nls.uk/copyright.html">National Library of Scotland</a>'},
		'NLS - OS 1:25,000 Provisional / First Series 1937-1961',
	],
	'os1inch7thseries': [
		'https://{s}.tile.cyclestreets.net/os1inch7thseries/{z}/{x}/{-y}@2x.png',
		{maxZoom: 16, attribution: '&copy; <a href="http://maps.nls.uk/copyright.html">National Library of Scotland</a>'},
		'NLS - OS 1-inch 7th Series 1955-1961'
	]
}

// BBOX for autocomplete
config.autocompleteBbox = '-6.6577,49.9370,1.7797,57.6924'

// Google Maps API key (for Street View)
config.gmapApiKey = 'YOUR_API_KEY';

